@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: linear-gradient(90deg, #00c49a 0%, #04afb1 49%, #0a91d1 100%);

    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 168, 100%, 4%;
    --foreground: 233, 90%, 96%, 1;
    /* --background: 240 10% 3.9%;
    --foreground: 0 0% 98%; */

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    /* --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%; */
    --primary: 167, 100%, 38%;
    --primary-foreground: 0, 0, 100%;

    --secondary: 167, 100%, 14%;
    --secondary-foreground: 0 0% 98%;
    /* --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%; */

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer components {
  .gradient {
    font-weight: 600;
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
  }
  html,
  body {
    @apply min-h-screen;
  }
  body {
    @apply flex flex-col bg-background text-foreground !px-4 md:!px-16 xl:!px-32;
  }

  .todo {
    filter: drop-shadow(
        0px 2.767256498336792px 2.2138051986694336px rgba(66, 52, 167, 0.23)
      )
      drop-shadow(
        0px 6.650102138519287px 5.32008171081543px rgba(66, 52, 167, 0.17)
      )
      drop-shadow(
        0px 12.521552085876465px 10.017241477966309px rgba(66, 52, 167, 0.14)
      )
      drop-shadow(
        0px 22.3363094329834px 17.869047164916992px rgba(66, 52, 167, 0.12)
      )
      drop-shadow(
        0px 41.777610778808594px 33.422088623046875px rgba(66, 52, 167, 0.09)
      )
      drop-shadow(0px 100px 80px rgba(66, 52, 167, 0.06));
  }
  .task {
    box-shadow: 0px 2.76726px 2.21381px 0px rgba(216, 28, 132, 0.22),
      0px 6.6501px 5.32008px 0px rgba(216, 28, 132, 0.16),
      0px 12.52155px 10.01724px 0px rgba(216, 28, 132, 0.13),
      0px 22.33631px 17.86905px 0px rgba(216, 28, 132, 0.11),
      0px 41.77761px 33.42209px 0px rgba(216, 28, 132, 0.09),
      0px 100px 80px 0px rgba(216, 28, 132, 0.06);
  }
  .catWiki {
    box-shadow: 0px 2.76726px 2.21381px 0px rgba(77, 39, 12, 0.31),
      0px 6.6501px 5.32008px 0px rgba(77, 39, 12, 0.22),
      0px 12.52155px 10.01724px 0px rgba(77, 39, 12, 0.18),
      0px 22.33631px 17.86905px 0px rgba(77, 39, 12, 0.16),
      0px 41.77761px 33.42209px 0px rgba(77, 39, 12, 0.13),
      0px 100px 80px 0px rgba(77, 39, 12, 0.09);
  }
  .spotify {
    box-shadow: 0px 2.76726px 2.21381px 0px rgba(30, 216, 96, 0.19),
      0px 6.6501px 5.32008px 0px rgba(30, 216, 96, 0.14),
      0px 12.52155px 10.01724px 0px rgba(30, 216, 96, 0.11),
      0px 22.33631px 17.86905px 0px rgba(30, 216, 96, 0.09),
      0px 41.77761px 33.42209px 0px rgba(30, 216, 96, 0.08),
      0px 100px 80px 0px rgba(30, 216, 96, 0.05);
  }
  .disney {
    box-shadow: 0px 2.76726px 2.21381px 0px rgba(91, 91, 192, 0.25),
      0px 6.6501px 5.32008px 0px rgba(91, 91, 192, 0.18),
      0px 12.52155px 10.01724px 0px rgba(91, 91, 192, 0.15),
      0px 22.33631px 17.86905px 0px rgba(91, 91, 192, 0.13),
      0px 41.77761px 33.42209px 0px rgba(91, 91, 192, 0.1),
      0px 100px 80px 0px rgba(91, 91, 192, 0.07);
  }
  .dictionary {
    box-shadow: 0px 2.76726px 2.21381px 0px rgba(0, 173, 181, 0.23),
      0px 6.6501px 5.32008px 0px rgba(0, 173, 181, 0.17),
      0px 12.52155px 10.01724px 0px rgba(0, 173, 181, 0.14),
      0px 22.33631px 17.86905px 0px rgba(0, 173, 181, 0.12),
      0px 41.77761px 33.42209px 0px rgba(0, 173, 181, 0.09),
      0px 100px 80px 0px rgba(0, 173, 181, 0.06);
  }
}
